# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.env
venv/
env/

# Database
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Node
node_modules/

# Scripts and temp files
temp.js
scripts/lectures_sample.html
scripts/*.bak

# MEDIA (Do not push 12GB to GitHub)
assets/